/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    min-width: 1640px;
    font-family: 'Poppins';
    --my-orange: #FC8A06;
    --my-width: 1520px;
}

app-browse-menu, app-profile, app-cart {
    display: block;
    height: 100vh;
}
