
<div class="banner">
    <div class="text-block">
        <p class="t1">Order Restaurant food, takeaway and groceries.</p>
        <h1 class="t2">Feast Your Senses,</h1>
        <h1 class="t3">Fast and Fresh</h1>
    </div>

    <div class="people">
        <img src="../../../assets/girls.png">
    </div>

    <div class="wrapper"></div>

    <div class="notifications">
        <img class="note1" src="../../../assets/note1.png">
        <img class="note2" src="../../../assets/note2.png">
        <img class="note3" src="../../../assets/note3.png">
    </div>
    
</div>

<div class="category-block">
    <h2>Order Popular Categories 🤩</h2>

    <div class="categories">
        <div *ngFor="let category of categories" class="category-card">
            <img src="../../../assets/tmp-placeholder.png">
            <span>{{category.title}}</span>
        </div>
    </div>
</div>



<footer>
    <div class="wrapper-blue">
        <div class="foot-2">
            <span>Order.uk Copyright 2024, All Rights Reserved.</span>
    
            <ul>
                <li><a>Privacy Policy</a></li>
                <li><a>Terms</a></li>
                <li><a>Pricing</a></li>
                <li><a>Do not sell or share my personal information</a></li>
            </ul>
        </div>
    </div>

</footer>